$primary-color: #fceeff
$size2: 20px
$weight: bold
$color-flex: #c8b6dc
$size: 16px
$color: blueviolet
$front: 100
$display: inline-block
$back: deepskyblue
footer, .flex-container
  background: $color-flex

.flex-container
  border-radius: 1px
  margin: 10px auto
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0)
  font-size: 10px

.flex-container_1, .flex-container_2, .flex-container_4
  display: flex

.flex-container_2
  margin-top: 30px

.flex-element_4__about
  font-weight: $front
  border-bottom: 1px solid #edcdff

.flex-container_4
  flex-direction: column

%message-shared
  margin: 5px

.flex-container_3, .flex-element
  @extend %message-shared

nav
  .flex-element, .nav__dotted
    display: $display

.flex-element
  color: #181919
  padding: 16px
  border-radius: 3px

.nav__dotted, .menu-item, .flex-element_3__menu-item
  vertical-align: middle

.nav__dotted
  border-left: 2px dotted #000000
  padding: 7px

.menu-item
  font-size: $size

body
  main
    background-color: $primary-color
    font-family: Georgia, serif

    section
      padding: 20px

.flex-element_3__menu-item, footer
  padding: 15px
  text-align: center

.flex-element_3__menu-item, a
  color: $color

.flex-element_3__menu-item
  font-weight: $weight
  font-size: 10px
  list-style-type: "►►"
  text-align: center

footer
  border-bottom: 15px solid $primary-color
  margin-left: 10px
  margin-right: 10px

.flex-container_3__text-stroke
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5)
  -webkit-text-fill-color: white

body
  width: 1000px
  padding: 0 0 0 0
  margin-left: auto
  margin-right: auto

.front
  width: 1000px
  background: $primary-color

main

  .flex-element, .flex-element_2
    font-weight: $front
    font-size: 190%

h1
  font-weight: 600
  font-size: 30px

h2
  font-weight: $front
  font-size: 20px

h3
  font-weight: 600
  font-size: 20px

.flex-element_4, .flex-element_3
  font-size: 16px
  font-weight: $front

nav
  background-color: $back

main
  .flex-container_3
    padding: 10px
    margin: 30px
    line-height: normal

header
  padding-left: 100px
  padding-top: 20px
  padding-bottom: 30px
  background: url(../images/RybQev4ifh8.jpg)
  position: relative
  box-sizing: border-box
  height: 230px
  width: 1000px

.front_img
  position: absolute
  right: 457px
  bottom: 3px
  height: 74px
  width: 73px

aside
  display: block

button
  background-color: #d8c0c8
  padding: 12px
  font-weight: $weight

a
  text-decoration: underline

.flex-container_2__right
  border-right: 2px solid #edcdff
  padding-right: 5px

.flex-container_2__left
  padding-left: 10px

.flex-element_5
  margin-top: 80px

.flex-element_3
  width: 158px

.flex-element_2
  margin-top: 0