.flex-container {

    background: #c8b6dc;
    border-radius: 1px;
    margin: 10px auto;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0);
    font-size: 16px;
}

.flex-container1 {
    display: flex;
}

.flex-container2 {
    display: flex;
}

.flex-container4 {
    display: flex;
    flex-direction: column;
}

.flex-container3 {
    padding: 10px;
    margin: 5px;
}

.flex-element {
    color: #181919;
    padding: 16px;
    margin: 5px;
    border-radius: 3px;
    display: inline-block;
}

.dotted {
    display: inline-block;
    border-left: 2px dotted #000000;
    padding: 7px;
    vertical-align: middle;

}

.flex-element3 {
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}

.qwerty {
    font-size: 16px;
    vertical-align: middle;

}

.text {
    font-weight: bold;
    color: blueviolet;
    padding: 15px;
    font-size: 10px;
    list-style-type: "►►";
    text-align: center;
    vertical-align: middle;
}

.lol {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
    -webkit-text-fill-color: white;
}

body {
    background: #fceeff;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: 600;
    font-size: 240%;
}

h2 {
    font-weight: 100;
    font-size: 140%;
}

.flex-element2 {
    font-weight: 100;
    font-size: 190%;
}

.flex-element4 {
    font-weight: 100;

    border-bottom: 1px solid #edcdff;
    padding-bottom: 20px;
}

nav {
    background-color: deepskyblue;
}

main {
    padding: 10px;
    margin: 30px;
    line-height: normal;
    font-family: Georgia, serif;
    font-weight: 100;

}

header {
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    background: url(https://sun1-92.userapi.com/xlPYkz0wbGM_J_XiVsYXbPyCktIs1Sk1zdsVdw/RybQev4ifh8.jpg);
    margin-left: 35px;
    margin-right: 35px;
}

section {
    background-color: #fceeff;
}

footer {
    background-color: #c8b6dc;
    padding: 15px;
    margin: 25px;
    text-align: center;
}

aside {
    background-color: #fceeff;;
    display: block;
}

.flex-container3 {
    display: inline flex;
    flex-direction: row-reverse;
    height: 400px;
}

button {
    background-color: #d8c0c8;
    padding: 12px;
    font-weight: bold;
}

a {
    color: blueviolet;
    text-decoration: underline;
}

.right {
    border-right: 2px solid #edcdff;
    padding-right: 5px;
}

.left {
    padding-left: 10px;
}
